ğŸ“Œ **ë¯¸ì…˜1. 11ì›” 1ì¼ (ì—°ìŠµê²Œì„)**<br>
ì•„ë˜ ë°ì´í„°ë¥¼ í™œìš©í•´  Genderì™€ Survivedë³€ìˆ˜ ê°„ì˜ ë…ë¦½ì„± ê²€ì •ì„ ì‹¤ì‹œí•˜ì˜€ì„ ë•Œ,ì¹´ì´ì œê³± í†µê³„ëŸ‰ì€? <br> 
(ë°˜ì˜¬ë¦¼í•˜ì—¬ ì†Œìˆ˜ ì…‹ì§¸ ìë¦¬ê¹Œì§€ ê³„ì‚°)

In [3]:
import pandas as pd
import scipy.stats as stats

df = pd.read_csv('Titanic.csv')
df2 = pd.crosstab(df['Gender'], df['Survived'])

chi2, p, dof, ef = stats.chi2_contingency(df2)
print(round(chi2, 2))

413.69

ğŸ“Œ **ë¯¸ì…˜2. 11ì›” 2ì¼(ì—°ìŠµê²Œì„)**
Gender, sibsp, parch, fareë¥¼ ë…ë¦½ë³€ìˆ˜ë¡œ ì‚¬ìš©í•˜ì—¬ íšŒê·€ëª¨í˜•ì„ ì‹¤ì‹œí•˜ì˜€ì„ ë•Œ, parchë³€ìˆ˜ì˜ ê³„ìˆ˜ê°’ì€?<br>
(ë°˜ì˜¬ë¦¼í•˜ì—¬ ì†Œìˆ˜ ì…‹ì§¸ ìë¦¬ê¹Œì§€ ê³„ì‚°)

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [10]:
import pandas as pd

df = pd.read_csv('Titanic.csv')
col = ['Survived', 'Gender', 'SibSp', 'Parch', 'Fare']
df = df[col]

from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
df['Gender'] = encoder.fit_transform(df['Gender'])
df['Fare'] = df['Fare'].fillna(df[df['Gender']==1]['Fare'].mean())

from statsmodels.formula.api import ols
model = ols('Survived ~ Gender + SibSp + Parch + Fare', data=df).fit()
print(model.params['Parch'])

6.279698983036042e-16